:root {
  --theme-color: #57B497;
  --cover-heading-color: #000;
  --cover-background-color: #fff;
  /* Notice - Tip */
  --notice-tip-border-color: #57B497;
  /* Plugin: Zoom Image */
  --zoomimage-overlay-background: rgba(0, 0, 0, 0.5);
}

:root::-webkit-scrollbar {
  width: 10px;
  background-color: #f6f6f6;
}

:root::-webkit-scrollbar-thumb {
  background-color: #57B497;
}

.updated {
  text-align: right;
}